.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.out
*.txt
*.a
outputC.txt
output